

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

body {font-family:Georgia;}

p {font-size:14px;
	margin:10px 0px;
	line-height:1.3em;}

h2 {font-size:20px;
	margin-top:10px;
	font-weight:bold;}

article {float:left;
		width:45%;
		margin:2%;}

img {width:100%;}

a {text-decoration:none;
	color:black;}

li {float:left;
	margin:0px 50px;}

footer {position:relative;bottom:0px;
		border-top:3px solid black;}

.top-nav {list-style:none;
			border-top:3px;
			border-bottom:3px;
			border-style:solid;
			border-color:black;
			margin:5px;
			padding:20px;
			font-weight:bold;
			font-size:24px;}

#logo-head h1 a {display:block;  
 				width:450px; 
 				height:100px;  
 				background:url(images/dogvscat-logo.gif) no-repeat top center; 
 				text-indent:-9999px;}

#bottom-left {font-size:11px;
				position:absolute;bottom:0px;left:0px;
				margin:2%;}

#bottom-right {font-size:11px;
				position:absolute;bottom:0px;right:0px;
				margin:2%;}

#bottom-left a {color:red;}

#bottom-right a {color:red;}









